.contact form {
    display: flex;
    flex-flow: column;
    width: 100%;
    padding: 2vh 1vw;
    margin: 6vh 0 2vh 0;
    box-shadow: var(--global-box-shadow);
    border-radius: var(--global-radius);
    background-color: var(--light-primary-color);
    text-align: initial; /* Exception to the container global settings*/
}

.contact label {
    padding-bottom: 1vh;
    margin-top: 2vh;
}

.contact input {
    height: 4vh;
    border-radius: var(--global-radius);
    text-indent: 1vw;
    font-size: 18px;
}

.contact textarea {
    padding: 1vh 1vw;
    margin-bottom: 2vh;
    border-radius: 15px;
}

.contact button {
    font-size: 2rem;
    font-family: inherit;
    height: 5vh;
    width: 30%;
    margin: 0 auto; 
    box-shadow: inset 0px -1px 25px -5px rgba(5,68,94,1);
    border-radius: var(--global-radius);
    background: var(--primary-color);
    cursor: pointer;
}

.contact button:hover {
    filter: brightness(1.15);
}

.error-msg {
    font-size: 1.5rem;
    font-weight: bold;

    text-indent: 1vw;
    color: red;
}