.contact-container {
    padding: 0 2vw;
}
.contact h2 {
    grid-column: 1 / span 2;
}

.contact form {
    display: flex;
    flex-flow: column;
    width: 100%;
    padding: 2vh 1vw;
    margin: 6vh 0 2vh 0;
    border-radius: var(--global-radius);
    background-color: var(--light-primary-color);
}

.contact label {
    padding-bottom: 1vh;
}

.contact input {
    height: 3vh;
    margin-bottom: 2vh;
    border-radius: var(--global-radius);
    text-indent: 1vw;
}

.contact textarea {
    padding: 1vh 1vw;
    margin-bottom: 2vh;
    border-radius: 15px;
}

.contact form button {
    font-size: 2rem;
    font-family: inherit;
    height: 5vh;
    width: 30%;
    margin: 0 auto; 
    border-radius: var(--global-radius);
    background: var(--primary-color);
    cursor: pointer;
}