.courses-content {
    display: grid;
    grid: 1fr 4fr 4fr / 1fr 1fr 1fr;
    gap: 5vh 1vw;
    padding: 2vh 1vw;
}


.courses h2 {
    grid-column: 1 / span 3;
}

.courses-content div {
    padding: 0 2vw;
    background: var(--light-primary-color);
    border-radius: var(--global-radius);
}

.courses h5 {
    text-align: center;
    padding: 3vh;
}

.courses img {
    display: block;
    margin: 0 auto;
    padding-bottom: 2vh;
    width: 15vw;
}

.courses p {
    text-align: center;
    padding-bottom: 2vh;
}