.course-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(357px, max-content));
    gap: 5vh 1vw;
    padding: 2vh 1vw;
}

.course-grid-item {
    padding: 0vh 2vw;
    text-align: center;
    background: var(--light-primary-color);
    border-radius: var(--global-radius);
}

.courses h5 {
    text-align: center;
    padding: 2vh 0;
}

.courses img {
    display: block;
    margin: 0 auto;
    padding-bottom: 2vh;
    width: 300px;
}

.courses p {
    text-align: center;
    padding-bottom: 2vh;
}