.courses-container {
    padding: 0 2vw;
    text-align: center;
}

.course-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, max-content));
    gap: 5vh 1vw;
    padding: 6vh 0vw 2vh 0vw;
}

.course-grid-item {
    padding: 2vh 2vw;
    background: var(--light-primary-color);
    border-radius: var(--global-radius);
}

.courses img {
    width: 300px;
    padding: 3vh;
}

.courses p {
    text-align: center;
}