.faq-container {
    padding: 0 2vw;
    text-align: center;
}

.questions-box {
    padding: 6vh 10% 0vh 10%;
}

.question {
    background: var(--light-primary-color);
    border-radius: var(--global-radius);
    margin-bottom: 2vh;
    box-shadow: var(--global-box-shadow);
    cursor: pointer;
    
}

.question:hover {
    box-shadow: var(--global-box-shadow-on-hover);
    transform: scale(1.02);
}

.question h5 {
    position: relative;
    text-align: left;
    padding: 2vh 1vw;
}

.question p {
    display: none;
    text-indent: 10%;
}

/* .question h5::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 35%;
    border-left: clamp(8px, 1.5vh, 13px) solid black;
    border-top: clamp(8px, 1.5vh, 13px) solid transparent;
    border-bottom: clamp(8px, 1.5vh, 13px) solid transparent;
    margin-left: 14px;
} */

