.faq-container {
    padding: 0 2vw;
    text-align: center;
}

.questions-box {
    padding: 6vh 10% 0vh 10%;
}

.question {
    background: var(--light-primary-color);
    border-radius: var(--global-radius);
    margin-bottom: 2vh;
}

.faq h5 {
    text-align: left;
    padding: 2vh 1vw;
    cursor: pointer;
}

.faq p {
    display: none;
    text-indent: 10%;
}

.faq h5:focus + p{
    display: inline;
}
