@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

@keyframes slideIn {
    from {
      margin-left: 100%;
    }

    to {
        margin-left: 0%;
    }

}

:root {
    --primary-color: #75E6DA;
    --secondary-color: #189AB4;
    --dark-secondary-color: #05445E;
    --light-primary-color: #D4F1F4;
    --global-radius: 15px;
    --global-box-shadow: -1px 5px 23px 5px rgba(5,68,94,0.40);
    --global-box-shadow-on-hover : -1px 5px 23px 15px rgba(5,68,94,0.40);
}

* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
    font-family: 'Open Sans', sans-serif;
    ;
    line-height: 3rem;
    /* move out the  nav bar */
    margin-top: 15vh;
}

h1 {
    font-size: clamp(30px, 3.5vw, 50px);
}

h2 {
    font-size: clamp(23px, 2.5vw, 35px);
}

h3 {
    font-size: clamp(18px, 2vw, 30px);
}

h4 {
    font-size: clamp(18px, 1.5vw, 25px);
}

h5 {
    font-size: clamp(18px, 2vw, 20px);
}
li {
    list-style: none;
}

a {
    color: black;
    text-decoration: none;
}

img {
    height: auto;
    width: 100%;
    margin: 3vh 0;
    border-radius: var(--global-radius);
}

form {
  display: flex;
  flex-flow: column;
  width: 100%;
  padding: 2vh 1vw;
  margin: 6vh 0 2vh 0;
  box-shadow: var(--global-box-shadow);
  border-radius: var(--global-radius);
  background-color: var(--light-primary-color);
  text-align: initial; /* Exception to the container global settings*/
}

input {
  height: 4vh;
  border-radius: var(--global-radius);
  text-indent: 1vw;
  font-size: 1.5rem;
}

input:placeholder-shown{
  font-style: italic;
}

textarea {
  padding: 1vh 1vw;
  margin-bottom: 2vh;
  border-radius: 15px;
  font-size: 1.5rem;
}

button {
  font-size: 2rem;
  font-family: inherit;
  height: 5vh;
  width: 30%;
  margin: 0 auto;
  box-shadow: inset 0px -1px 25px -5px rgba(5,68,94,1);
  border-radius: var(--global-radius);
  background: var(--primary-color);
  cursor: pointer;
  filter: brightness(1.07);
  transition: ease-in-out;
}

button:hover {
  filter: brightness(1.16);
}

button:active {
  transform: scale(.95);
}

    /* =========
       Classes
       ===========*/


.main-content {
           background: var(--primary-color);
           border-radius: var(--global-radius);
           margin: 7vh 10%;
}

.container {
    position: relative;
    padding: 0 2vw 1vh 2vw;
    text-align: center;
}

.header {
    padding: 6vh 0vh;
    border-bottom: 6px double #fff;
    text-align: center;
    line-height: 10vh;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 5vh 1vw;
    padding: 6vh 0vw 2vh 0vw;
    transition: all .5s ease-in-out;
}

.grid-item {
  background-color: var(--light-primary-color);
  border-radius: var(--global-radius);
  box-shadow: var(--global-box-shadow)
}

.grid-item:hover {
box-shadow: var(--global-box-shadow-on-hover);
transform: scale(1.02);
}

.grid-item-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.fa-caret-left {
    position: absolute;
    left: 2vw;
    top: 8vh;
    font-size: 6vh;
    cursor: pointer;
}

.fa-caret-right {
    position: absolute;
    right: 2vw;
    top: 8vh;
    font-size: 6vh;
    cursor: pointer;
}

.fa-caret-left:hover {
    transform: scale(1.25);
}

.fa-caret-right:hover {
    transform: scale(1.25);
}

.error-msg {
  font-size: 1.5rem;
  font-weight: bold;

  text-indent: 1vw;
  color: red;
}

