@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

@keyframes slidein {
    from {
      margin-left: 100%;
    }

    to {
        margin-left: 0%;
    }

}

:root {
    --primary-color: #75E6DA;
    --secondary-color: #189AB4;
    --dark-secondary-color: #05445E;
    --light-primary-color: #D4F1F4;
    --global-radius: 15px;
    --global-box-shadow: -1px 5px 23px 5px rgba(5,68,94,0.40);
    --global-box-shadow-on-hover : -1px 5px 23px 15px rgba(5,68,94,0.40);
}

* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-size: 2rem;
    font-family: 'Open Sans', sans-serif;
    ;
    line-height: 3rem;
    /* move out the  nav bar */
    margin-top: 7rem;
}

h1 {
    font-size: clamp(60px, 5vw, 70px);
}

h2 {
    font-size: clamp(50px, 4.5vw, 60px);
}

h3 {
    font-size: clamp(40px, 4vw, 50px);
}

h4 {
    font-size: clamp(30px, 3.5vw, 40px);
}

h5 {
    font-size: clamp(20px, 3vw, 30px);
}
li {
    list-style: none;
}

a {
    color: black;
    text-decoration: none;
}

img {
    height: auto;
    width: 100%;
    margin: 3vh 0;
    border-radius: var(--global-radius);
}

    /* =========
       Classes
    ===========*/


.main-content {
    background: var(--primary-color);
    border-radius: var(--global-radius);
    margin: 7vh 10%;
}

.bg-img {
    position: fixed;
    bottom: .8vh;
    height: 90vh;
    width: 9vw;
    opacity: 0.3;
    margin: 0;
    /* Exception to global img settings*/
}

.left {
    left: 1vh;
}

.right {
    right: 1vh;
}

.header {
    padding: 6vh 0vh;
    border-bottom: 6px double #fff;
    text-align: center;
    line-height: 10vh;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 5vh 1vw;
    padding: 6vh 0vw 2vh 0vw;
    transition: all .5s ease-in-out;
}

.fa-caret-left {
    position: absolute;
    left: 2vw;
    top: 8vh;
    font-size: 6vh;
    cursor: pointer;
}

.fa-caret-right {
    position: absolute;
    right: 2vw;
    top: 8vh;
    font-size: 6vh;
    cursor: pointer;
}

.fa-caret-left:hover {
    transform: scale(1.25);
}

.fa-caret-right:hover {
    transform: scale(1.25);
}

.container {
    position: relative;
    padding: 0 2vw 1vh 2vw;
    text-align: center;
}
