.intro-container {
    padding: 0 2vw;
    text-align: center;
}

.intro-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 5vh 1vw;
    padding: 6vh 0vw 2vh 0vw;
}

.intro-text-box {
    height: 85vh;
    padding: 2vh 2vw;
    overflow: auto;
    border-radius: var(--global-radius);
    background-color: var(--light-primary-color);
}

.intro img {
    border-radius: var(--global-radius);
    width: 100%;
}
