.intro-text-box {
    display: block;
    height: 85vh;
    padding: 2vh 2vw;
    overflow: auto;
    border-radius: var(--global-radius);
    background-color: var(--light-primary-color);
}

.intro img {
    margin: 0;
}