@media screen and (max-width: 1250px) {
  /* Global */
  body {
    margin: 0;
    /* Nav is no more on the top*/
  }

  section {
    padding-left: 20%;
    /* Logo is now on the left*/
  }

  .main-content {
    border-radius: var(--global-radius);
    background-color: var(--primary-color);
    margin: 0;
    margin-bottom: 5vh;
    max-width: 100%;
    min-height: 100vh;
  }

  .bg-img {
    display: none;
  }

  /* Menu */

  .menu-container {
    flex-flow: column;
    background-color: var(--primary-color);
    justify-content: unset;
    position: fixed;
    width: 19%;
    height: 100%;
    overflow: auto;
    box-shadow: none;
    border-radius: 0 15px 15px 0;
  }

  .menu h1 {
    font-size: clamp(45px, 3.5vw, 40px);
    padding: 3vh 2vw 2vh 2vw;
  }

  .menu ul {
    font-size: clamp(25px, 3.5vw, 35px);
    height: 85vh;
    flex-flow: column;
    justify-content: space-around;
  }
  .menu li a {
    padding: 1.5vw;
  }

  /* Footer */

  footer {
    margin-left: 25%;
  }

  /* Product Page*/

  .menu .cart {
    display: none;
  }

  .product .grid {
    gap: 5vh 1vw;
  }

  .product .grid .product-info{
    grid-row-start: 2 ;
    grid-column-start: span 2 ;
  }

  .product-info {
    border-radius: var(--global-radius);
  }

  .price-info {
    border-radius: var(--global-radius);
    border: none;
  }

}

@media screen and (max-width: 768px) {
  .nav-icons label {
    display: initial;
    z-index: 3;
  }

  #hamburger-toggle:checked + .menu-container {
    animation: slideIn 0.8s ease-in-out normal;
    display: flex;
  }

  .menu-container {
    display: none;
    width: 100%;
    text-align: center;
  }

  .menu ul {
    width: 100vw;
    font-size: 5vh;
  }

  section {
    /* Logo is now on the left*/
    padding-left: 0;
  }

  /* Footer */

  footer {
    margin: 0;
    width: 100%;
  }

  /* Porduct Page */

  .product .grid {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 5vh 1vw;
  }

  .product .grid img {
    width: 300px;
    justify-self: center;
  }

  .grid .price-info img {
    width: 70px
  }

  .product .grid .product-info{
    grid-row-start: 3 ;
    grid-column-start: span 2;
  }

  .product-info {
    border-radius: var(--global-radius);
  }

  .price-info {
    border-radius: var(--global-radius);
    border: none;
  }
}

@media screen and (max-width: 632px) {
  .product .grid .product-info{
    grid-row-start: 3 ;
    grid-column-start: unset;
  }
}


@media screen and (max-width: 320px) {
  .grid {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}
