@media screen and (max-width: 1250px) {
  /* Global */
  body {
    margin: 0;
    /* Nav is no more on the top*/
  }
  section {
    padding-left: 20%;
    /* Logo is now on the left*/
  }
  .main-content {
    border-radius: var(--global-radius);
    background-color: var(--primary-color);
    margin: 0;
    margin-bottom: 5vh;
    max-width: 100%;
    min-height: 100vh;
  }
  .bg-img {
    display: none;
  }

  /* Menu */

  .menu-container {
    flex-flow: column;
    background-color: var(--primary-color);
    justify-content: unset;
    position: fixed;
    width: 19%;
    height: 100%;
    overflow: auto;
    box-shadow: none;
    border-radius:0 15px 15px 0;

  }
  .menu h1 {
    font-size: clamp(45px, 3.5vw, 40px);
    padding: 3vh 2vw 2vh 2vw;
  }
  .menu ul {
    font-size: clamp(25px, 3.5vw, 35px);
    height: 85vh;
    flex-flow: column;
    justify-content: space-around;
  }
  .menu li a {
    padding: 1.5vw;
  }

  .arrow-up {
    right: 2vw;
  }

  /* Footer */

  footer {
    margin-left: 25%;
  }
}

@media screen and (max-width: 600px) {
  .nav-icons label {
    display: initial;
    z-index: 3;
  }

  #hamburger-toggle:checked + .menu-container {
    animation: slideIn .8s ease-in-out normal;
    display: flex;
  }

  .menu-container {
    display: none;
    width: 100%;
    text-align: center;
  }

  .menu h1 {
    font-size: 5rem;
  }

  .menu ul {
    width: 100vw;
    font-size: 3rem;
  }

  section {
    /* Logo is now on the left*/
    padding-left: 0;
  }

  /* Footer */

  footer {
    margin: 0;
    width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .grid {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}
