.podcast .grid-item {
  padding: 0;
}

.podcast h4 {
    padding: 2vh 0;
    border-bottom: 4px dashed #fff;
}

.podcast ul {
    line-height: 70px;
}

.podcast li:hover {
    background-color: var(--primary-color);
}

.podcast a {
    display: block;
}
