.podcast-grid-item {
    background-color: var(--light-primary-color);
    border-radius: var(--global-radius);
    box-shadow: var(--global-box-shadow)

}

.podcast h4 {
    padding: 2vh 0;
    border-bottom: 4px dashed #fff;
}

.podcast ul {
    line-height: 70px;
}

.podcast li:hover {
    background-color: var(--primary-color);
}

.podcast a {
    display: block;
}